<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/pruvve_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pruvve"
        tools:targetApi="31">
        <activity
            android:name=".ShowAllPosts"
            android:exported="false"
            android:theme="@style/Theme.Pruvve" />
        <activity
            android:name=".StoryMaker"
            android:exported="false" />
        <activity
            android:name=".CustomGallery"
            android:exported="false" />
        <activity
            android:name=".AddPlayer"
            android:exported="false" />
        <activity
            android:name=".CoachHomePage"
            android:exported="false" />
        <activity
            android:name=".FeedsViews"
            android:exported="false" />
        <activity
            android:name=".BookingPitches"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".TeamsPage2"
            android:exported="false" />
        <activity
            android:name=".ViewPitchItem"
            android:exported="false"
            android:label="@string/title_activity_view_pitch_item"
            android:theme="@style/Theme.Pruvve" />
        <activity
            android:name=".ShowVideos"
            android:exported="false" />
        <activity
            android:name=".TeamsPage"
            android:exported="false" />
        <activity
            android:name=".SearchPage"
            android:exported="false" />
        <activity
            android:name=".MorePage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".WelcomeBack"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".CoachOnboardEnd"
            android:exported="false" />
        <activity
            android:name=".CoachAccountFinalization"
            android:exported="false" />
        <activity
            android:name=".AthleteOnboardEnd"
            android:exported="false" />
        <activity
            android:name=".AthleteAccountFinalization"
            android:exported="false" />
        <activity
            android:name=".AthleteVideoSet"
            android:exported="false" />
        <activity
            android:name=".AthleteAccountCreator"
            android:exported="false" />
        <activity
            android:name=".CoachScoutAccountcreator"
            android:exported="false" />
        <activity
            android:name=".AccountTypeSelector"
            android:exported="false" />
        <activity
            android:name=".UsernameCreation"
            android:exported="false" />
        <activity
            android:name=".ProfileCreation"
            android:exported="false" />
        <activity android:name=".MainSignup" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fluture.pruvve.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>